<?xml version="1.0" encoding="UTF-8"?>

    <manifest package="com.koz4.koz4" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application android:theme="@style/AppTheme" android:supportsRtl="true" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:allowBackup="true">

    <activity android:name=".LoginActivity" android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
        <activity android:name=".MainActivity" android:theme="@style/AppTheme.NoActionBar" android:label="@string/title_activity_profile"/>
        <activity android:name=".SignupActivity" android:theme="@style/AppTheme.NoActionBar" android:label="@string/title_activity_login"/>
        <activity android:name=".ResetPasswordActivity" android:theme="@style/AppTheme.NoActionBar" android:label="@string/title_activity_reset_password"/>
    </application>

</manifest>